doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Trail Rush
    link(href='stylesheets/bootstrap.min.css', rel='stylesheet')
    link(href='stylesheets/scrolling-nav.css', rel='stylesheet')
    link(href='stylesheets/newscarousel.css', rel='stylesheet')
    link(href='stylesheets/project.css', rel='stylesheet')
    // jQuery
    script(src='javascripts/jquery.js')
    script(src='javascripts/scrollingproject.js')
    // Bootstrap Core JavaScript
    script(src='javascripts/bootstrap.min.js')
    // Scrolling Nav JavaScript
    script(src='javascripts/jquery.easing.min.js')
    script(src='javascripts/scrolling-nav.js')
    script(src='javascripts/newscarousel.js')

  body#page-top(data-spy='scroll', data-target='.navbar-fixed-top')
    // Navigation
    nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
      .container
        .navbar-header.page-scroll
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.page-scroll(href='#page-top')
            img(src='../img/logo.png', height='18', width='140')
        // Collect the nav links, forms, and other content for toggling
        .collapse.navbar-collapse.navbar-ex1-collapse.navHeaderCollapse
          ul.nav.navbar-nav.navbar-right
            // Hidden li included to remove active class from about link when scrolled up past about section
            li.hidden
              a.page-scroll(href='#page-top')
            li
              a.page-scroll(href='#events') Events
            if (title == "No Account")
              li
                a.page-scroll(href='#services') Services
              li
                a.page-scroll(href='#download') Download
              li
                a(href='http://localhost:3000/login') Sign in
            else 
              li
                a(href='http://localhost:3000/Join') Join Event
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  each name in xProfile
                    | #{name.FName}
                    b.caret
                  ul.dropdown-menu
                    li
                      a(href='#') View Profile
                    li
                      a(href='http://localhost:3000/logout') Logout
              
           
    if (title == "No Account")                
      #thumbnail-preview-indicators.carousel.slide(data-ride='carousel')
     
        .carousel-inner
          .item.slides.active
            .slide-1
            .container
              .carousel-caption
                h1 A carousel headline.
                p Responsive thumbnail preview in carousel indicators.
                p
                  a.btn.btn-lg.btn-primary(href='#', role='button') Sign up today
          .item.slides
            .slide-2
            .container
              .carousel-caption
                h1 Another example headline.
                p Cras justo odio, dapibus ac facilisis in, egestas eget quam.
                p
                  a.btn.btn-lg.btn-primary.page-scroll(href='#about', role='button') Learn more
          .item.slides
            .slide-3
            .container
              .carousel-caption
                h1 One more for good measure.
                p Nullam id dolor id nibh ultricies vehicula ut id elit.
                p
                  a.btn.btn-lg.btn-primary(href='#', role='button') Browse gallery
          a.left.carousel-control(href='#thumbnail-preview-indicators', role='button', data-slide='prev')
            span.glyphicon.glyphicon-chevron-left
          a.right.carousel-control(href='#thumbnail-preview-indicators', role='button', data-slide='next')
            span.glyphicon.glyphicon-chevron-right
      section#events.events-section
        .container
          h1 LIST OF EVENTS
          .row
            each tevent in xEvent
              .col-md-4.col-sm-4.col-xs-12
                h2 #{tevent._id}
                ul
                  each name in tevent.EventName
                    |<li name="#{name}"><a href="/Event/#{name}">#{name}</a> 
      section#services.services-section
        .container
          h1 SERVICES
          .row
            .col-md-4
              #whitebox
                img.img-responsive(src='img/search24.png')
                h3 Lorem Impsum
                p
                  | Dictas philosophia nec ne. His esse justo epicurei ne, cu noster dictas efficiantur sea, sea tantas invidunt constituam ut.
            .col-md-4
              #whitebox
                img.img-responsive(src='img/people3.png')
                h3 Lorem Impsum
                p
                  | Dictas philosophia nec ne. His esse justo epicurei ne, cu noster dictas efficiantur sea, sea tantas invidunt constituam ut.
            .col-md-4
              #whitebox
                img.img-responsive(src='img/monitor46.png')
                h3 Lorem Impsum
                p
                  | Dictas philosophia nec ne. His esse justo epicurei ne, cu noster dictas efficiantur sea, sea tantas invidunt constituam ut.
      #download.download-section
        .container
          .row
            .col-md-7
              h1 Download the app!
              p
                | Sed vitae nisi non leo vestibulum volutpat. Maecenas facilisis elementum neque, iaculis rhoncus lectus tincidunt ac.
              #downloadbuttons
                img(src='img/apple.png', height='50', width='150')
                img(src='img/google.png', height='50', width='150')
            .col-md-5
              img.img-responsive(src='img/final-imagehalf.png', height='50')             
    else
      section#events.events-section
        .container
          h1 LIST OF EVENTS
          .row
            each tevent in xEvent
              .col-md-4.col-sm-4.col-xs-12
                h2 #{tevent._id}
                ul
                  each name in tevent.EventName
                    |<li name="#{name}"><a href="/Event/#{name}">#{name}</a> 
    

    #contacts.contacts-section
      .container
        #rowcontacts.row
          .col-md-4
            .row
              h3 CONTACT US
              .col-xs-2
                img.img-responsive.center-block(src='img/localization3.png')
              .col-xs-9
                p Unit 14
                p 3 Edgar Buildings
                p George Street
                p England
          
            .row
              .col-xs-2
                img.img-responsive.center-block(src='img/phone72.png')
              .col-xs-9
                p 63+ 09277861793
         
            .row
              .col-xs-2
                img.img-responsive.center-block(src='img/google110.png')
              .col-xs-9
                p trackermaster@gmail.com
          .col-md-4
            .row
              h3 SOCIAL MEDIA
              .col-xs-2
                img.img-responsive.center-block(src='img/facebok.png')
              .col-xs-9
                p facebook.com/trailrushofficial
         
            .row
              .col-xs-2
                img.img-responsive.center-block(src='img/social71.png')
              .col-xs-9
                p twitter.com/trailrushofficial
        
            .row
              .col-xs-2
                img.img-responsive.center-block(src='img/instagram13.png')
              .col-xs-9
                p instagram.com/trailrushofficial
          .col-md-4
            .row
              h3 SOCIAL MEDIA
              .col-xs-2
                img.img-responsive.center-block(src='img/facebok.png')
              .col-xs-9
                p facebook.com/trailrushofficial
         
            .row
              .col-xs-2
                img.img-responsive.center-block(src='img/social71.png')
              .col-xs-9
                p twitter.com/trailrushofficial
           
            .row
              .col-xs-2
                img.img-responsive.center-block(src='img/instagram13.png')
              .col-xs-9
                p instagram.com/trailrushofficial
    footer
      p © TrailRush. All rights reserved.
    