  doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Scrolling Nav - Start Bootstrap Template
    link(href='../../stylesheets/bootstrap.min.css', rel='stylesheet')
    link(href='../../stylesheets/scrolling-nav.css', rel='stylesheet')
    link(href='../../stylesheets/tableresults.css', rel='stylesheet')
    link(href='../../stylesheets/upcomingevent.css', rel='stylesheet')
   
  body#page-top(data-spy='scroll', data-target='.navbar-fixed-top')
    // Navigation
    nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
      .container
        .navbar-header.page-scroll
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.page-scroll(href='http://localhost:3000/home')
            img(src='../img/logo.png', height='18', width='140')
        // Collect the nav links, forms, and other content for toggling
        .collapse.navbar-collapse.navbar-ex1-collapse.navHeaderCollapse
          ul.nav.navbar-nav.navbar-right
            // Hidden li included to remove active class from about link when scrolled up past about section
            li.hidden
              a.page-scroll(href='http://localhost:3000/home#page-top')
            li
              a.page-scroll(href='http://localhost:3000/home#events') Events
            li
              a.page-scroll(href='http://localhost:3000/home#services') Services
            li
              a.page-scroll(href='http://localhost:3000/home#download') Download
            if (title == "No Account")
              li
                a(href='http://localhost:3000/login') Sign in
            else 
              li 
                a(href='http://localhost:3000/logout') Logout
              li
                a(href='http://localhost:3000/Join') Join Event
    #events.events-section
      .container
        .row
          .col-lg-8
            each tevent in xEvent
              h1 #{tevent.EventName}
              if (tevent.EventStatus == "Past" || tevent.EventStatus == "Current" )  
                .panel.panel-success
                  .panel-heading
                    h3.panel-title Results
                    .pull-right
                      span.clickable.filter(data-toggle='tooltip', title='Toggle table filter', data-container='body')
                        i.glyphicon.glyphicon-filter
                  .panel-body
                    input#task-table-filter.form-control(type='text', data-action='filter', data-filters='#task-table', placeholder='Search Name')
                  table#task-table.table.table-hover
                    thead
                      tr
                        th #
                        th Name
                        th Time
                        th Status
                    tbody
                      each name in xUsers
                        tr
                          td #{name.bibid}
                          td #{name._id}
                          each time in name.Date
                            script
                              -var timestamp=time;
                              -var date = new Date(timestamp*1000);
                              -var minutes = "0" + date.getMinutes();
                              -var seconds = "0" + date.getSeconds();
                              -var hours = date.getHours();
                              -var formattedtime = hours + ":" + minutes.substr(minutes.length-2) + ':' + seconds.substr(seconds.length-2);
                            td #{formattedtime}                
              else
                each user in xProfile
                  form(role='form', method="POST", action="/Event/#{tevent.EventName}")
                    .form-group
                      //pkilagyan ng label
                      input#email.form-control.input-md(type='text', name='FName',required, data-required-msg='Email is required', placeholder='fullname', tabindex='1', value='#{user.FName}')
                    .form-group
                      input#email.form-control.input-md(type='text', name='Address',required, data-required-msg='Email is required', placeholder='fullname', tabindex='1', value='#{user.Address}')
                    .form-group
                      //pkilagyan ng label
                      input#email.form-control.input-md(type='email', name='EMail',required, data-required-msg='Email is required', placeholder='Email Address', tabindex='1', value='#{user.EMail}')
                    .form-group
                      input#password.form-control.input-md(type='text', name='Contact',required, data-required-msg='Password is required', placeholder='Password', tabindex='2', value='#{user.Contact}')
                    .form-group
                      //pkilagyan ng label
                      input#email.form-control.input-md(type='number', name='Age',required, data-required-msg='Email is required', placeholder='Email Address', tabindex='1', value='#{user.Age}')
                    .form-group
                      //pkilagyan ng label
                      input#email.form-control.input-md(type='text', name='Gender',required, data-required-msg='Email is required', placeholder='Email Address', tabindex='1', value='#{user.Gender}')
                    .form-group
                      p!=message
                      button.btn(type='submit', tabindex='7') Join

            // Comments Form
          // Blog Sidebar Widgets Column
          .col-md-4
            .well
              h4 Description
              each tevent in xEvent
                p #{tevent.EventDescription}
              h4 Date
              each tevent in xEvent
                p #{tevent.EventDate}
              h4 Organizer
              each tevent in xEvent
                p #{tevent.EventOrganizer}
              h4 Number of Stations
              each tevent in xEvent
                p #{tevent.EventStations}
              h4 Status
              each tevent in xEvent
                p #{tevent.EventStatus}  
                

        
    script(src='../../javascripts/jquery.js')
    script(src='../../javascripts/scrollingproject.js')
    script(src='../../javascripts/bootstrap.min.js')
    script(src='../../javascripts/jquery.easing.min.js')
    script(src='../../javascripts/scrolling-nav.js')
    script(src='../../javascripts/tableresults.js')

