  doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Scrolling Nav - Start Bootstrap Template
    link(href='../../stylesheets/bootstrap.min.css', rel='stylesheet')
    link(href='../../stylesheets/scrolling-nav.css', rel='stylesheet')
    link(href='../../stylesheets/tableresults.css', rel='stylesheet')
    link(href='../../stylesheets/upcomingevent.css', rel='stylesheet')
   
  body#page-top(data-spy='scroll', data-target='.navbar-fixed-top')
    // Navigation
    nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
      .container
        .navbar-header.page-scroll
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.page-scroll(href='http://localhost:3000/home')
            img(src='../img/logo.png', height='18', width='140')
        // Collect the nav links, forms, and other content for toggling
        .collapse.navbar-collapse.navbar-ex1-collapse.navHeaderCollapse
          ul.nav.navbar-nav.navbar-right
            // Hidden li included to remove active class from about link when scrolled up past about section
            li.hidden
              a.page-scroll(href='http://localhost:3000/home#page-top')
            li
              a.page-scroll(href='http://localhost:3000/home#events') Events
            li
              a.page-scroll(href='http://localhost:3000/home#services') Services
            li
              a.page-scroll(href='http://localhost:3000/home#download') Download
            if (title == "No Account")
              li
                a(href='http://localhost:3000/login') Sign in
            else 
              li 
                a(href='http://localhost:3000/logout') Logout
              li
                a(href='http://localhost:3000/Join') Join Event
    #events.events-section
      .container
        .row
          .col-lg-8
            each tevent in trailevents
              h1 #{tevent.EventName}
            .panel.panel-success
              .panel-heading
                h3.panel-title Results
                .pull-right
                  span.clickable.filter(data-toggle='tooltip', title='Toggle table filter', data-container='body')
                    i.glyphicon.glyphicon-filter
              .panel-body
                input#task-table-filter.form-control(type='text', data-action='filter', data-filters='#task-table', placeholder='Search Name')
              table#task-table.table.table-hover
                thead
                  tr
                    th #
                    th Name
                    th Time
                    th Status
                tbody
                  tr
                    td 1
                    td Site Wireframes
                    td John Smith
                    td in progress
                  tr
                    td 2
                    td Mobile Landing Page
                    td Kilgore Trout
                    td completed
                  tr
                    td 3
                    td Add SEO tags
                    td Bob Loblaw
                    td failed qa
                  tr
                    td 4
                    td Migrate to Bootstrap 3
                    td Emily Hoenikker
                    td in progress
                  tr
                    td 5
                    td Update jQuery library
                    td Holden Caulfield
                    td deployed
                  tr
                    td 6
                    td Issues in IE7
                    td Jane Doe
                    td failed qa
                  tr
                    td 7
                    td Bugs from Sprint 14
                    td Kilgore Trout
                    td completed

            // Comments Form
          // Blog Sidebar Widgets Column
          .col-md-4
            .well
              h4 Description
              each tevent in trailevents  
                p #{tevent.EventDescription}
              h4 Date
              each tevent in trailevents
                p #{tevent.EventDate}
              h4 Organizer
              each tevent in trailevents
                p #{tevent.EventOrganizer}
              h4 Number of Stations
              each tevent in trailevents
                p #{tevent.EventStations}
              h4 Status
              each tevent in trailevents
                p #{tevent.EventStatus}  
                

        
    script(src='../../javascripts/jquery.js')
    script(src='../../javascripts/scrollingproject.js')
    script(src='../../javascripts/bootstrap.min.js')
    script(src='../../javascripts/jquery.easing.min.js')
    script(src='../../javascripts/scrolling-nav.js')
    script(src='../../javascripts/tableresults.js')

